* {
    margin: 0px;
    font-family: Work Sans;

}

body {
    border: 1px solid black;
    margin: 5px;
}

footer {
    margin: 5px;
}

/* header banner  */


.hd-img {
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;


}

.header-banner {
    /* margin-top: 210px;
    color: white;
    text-align: center; */
    font-family: 'Signika Negative', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    text-align: center;
    color: rgb(0, 0, 0);
    text-align: right;
}

.heading-banner {
    padding-bottom: 10px;
    font-size: 54px;
    padding-left: 20%;
    font-family: 'Work Sans';
    font-weight: 700;
    line-height: 76px;

}

.des-banner {
    padding-left: 20%;
    font-size: 16px;
    padding-bottom: 50px;
    color: #444343;
}

.btn-primary {
    height: 60px;
    width: 150px;
    background-color: #f85c2c;
    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;


}

/* section  */
main section {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* section part of contrary */



.heading-contrary {
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 20px;
}

.des-contrary {
    padding-bottom: 15px;
    color: #444343;
}

.list-contrary {
    color: #444343;
}

.sec-contrary {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-hg {
    padding-top: 15%;
}

.fa-solid,
.fa-check {

    color: green;
}


/* section part of plan */

.sec-plan {
    text-align: center;
}

.heading-plan {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 900;
}

table {
    border-spacing: 90px 0px;
    margin-left: 9%;
    text-align: center;
}

.sec-plan th {
    font-size: 24px;
    font-weight: bold;

}

/* section part of gradient */

.gradient {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    height: 230px;
    width: auto;
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    border-radius: 15px;

}

.btn-primary2 {
    background-color: #FFFFFF;
    color: #f85c2c;
    border: 0px;
    border-radius: 10px;
    height: 50px;
    width: 16%;
    font-size: 20px;
    font-weight: bold;
}

.main-gradient {
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
}

.heading-gradient {
    font-family: 'Signika Negative', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
    margin-bottom: 3%;
}


/* footer */
footer {
    position: absolute;
    width: 99%;
    height: auto;
    left: 0px;
    background: #151414;
}

.heading-footer {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    /* identical to box height */
    color: #F8F8F8;
}

.des-footer {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

footer {
    display: flex;
    color: #FFFFFF;
}

.main-footer {
    margin-left: 10%;
    margin-top: 5%;
}

.heading-footer {
    margin-bottom: 25px;
}

.des-footer {
    margin-bottom: 40px;
}

.details-footer {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;

}

.sub-er {
    margin-left: 200px;
    margin-top: 10%;
}

.img-footer img {
    padding-left: 20px;
    margin-bottom: 200px;
}

.btn-primary3 {

    height: 60px;
    width: 150px;
    /* left: 1220px; */
    /* top: 50px; */
    background-color: #f85c2c;
    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
}

.hr-c {
    color: #FFFFFF;
}

.input {

    margin: 12px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 70px;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 6px;

}